# Project build

build/

# Latex file

*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz

# Polyscope

.polyscope.ini
imgui.ini

# Output files

*.tet
code/Input_file/*/
cdt_log.csv

# Miscellaneous

.DS_Store
max_energy.txt
mean_energy.txt

# Dataset

dataset

# Codium debugging

.vscode

# Visualization

code/visualization/
